<div class='field row' data-disabled-container='true'>
  <div class='col-4'>
    <%= label_tag :change_template, 'I would like to change the template in use', class: 'inline' %>
    <%= check_box_tag :change_template, '1', false, :class => 'checkbox', 'data-disabled-master' => true, 'data-disabled-warning' => 'Please note that this will adjust the widgets on this page, so you may wish to edit the page after saving to ensure the new widgets appear in the correct order.' %>
  </div>
  <div class='col-8'>
    <%= f.label :template_id, nil, class: 'inline' %>
    <%= f.collection_select :template_id, ::Refinery::Widgets::Template.order(:name), :id, :name, {}, :disabled => 'disabled', 'data-disabled-slave' => true, :class => 'inline' %>
  </div>
</div>
