= instantiate_builder('template', @template, {}).fields_for :template_parts, @template_part, child_index: @template_part_index do |j|
  = j.fields_for :widgets, @widget, child_index: @widget.object_id do |k|
    = render("refinery/widgets/admin/templates/widget_fields", f: k)

