.inline{ float:left; margin-top: 5px; margin-right: 20px; }
.tab-area{ border: 1px solid #CCC; padding: 10px; }
.reuseable-block{ border: 1px solid #CCC }
.widgets.ui-sortable {
  .ui-sortable-placeholder {
    background-color: #FFFF99;
    border: 1px dashed #CCC;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    visibility: visible !important; 
  }
}
.widget{ 
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  background-color: #F5F5F5;
  border: 1px solid #CCC;
  margin: 20px 0px 10px 0px;
  padding: 5px;
  .left {
    float: left;
  }
  .right {
    float: right;
    .icons {
      img {
        margin-left: 10px;
      }
    }
  }
  .type {
    margin-left: 20px;
  }
} 
.clear {
  clear: both;
}
table.existing_widgets, table.select_template {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  tr {
    &.dark { background-color: #EEE; } 
    &.light { background-color: #FFF; }
    td, th {
      padding-left: 10px;
      border: 1px solid #CCC;
    }
  }
}
.sub-title { font-size: 0.9em; opacity: 0.8; }

form fieldset { 
  margin: 5px;
  border: 1px solid #DDD;
  padding-top: 0px;
}

.s-margin { margin-top: 5px; margin-bottom: 5px; }
.m-margin { margin-top: 10px; margin-bottom: 10px; }
.l-margin { margin-top: 20px; margin-bottom: 20px; }
.xl-margin { margin-top: 40px; margin-bottom: 40px; }

.row { padding-left: 15px; }
.row:before,.row:after{content:" ";display:table;}
.row:after{clear:both;}
.row:before,.row:after{content:" ";display:table;}
.row:after{clear:both;}
@media (min-width:768px){.row{margin-left:-15px;margin-right:-15px;}}.row .row{margin-left:-15px;margin-right:-15px;}
.col-1,.col-2,.col-3,.col-4,.col-5,.col-6,.col-7,.col-8,.col-9,.col-10,.col-11,.col-12,.col-sm-1,.col-sm-2,.col-sm-3,.col-sm-4,.col-sm-5,.col-sm-6,.col-sm-7,.col-sm-8,.col-sm-9,.col-sm-10,.col-sm-11,.col-sm-12,.col-lg-1,.col-lg-2,.col-lg-3,.col-lg-4,.col-lg-5,.col-lg-6,.col-lg-7,.col-lg-8,.col-lg-9,.col-lg-10,.col-lg-11,.col-lg-12{position:relative;min-height:1px;padding-left:0px;padding-right:0px; margin-left: 0px; margin-right: 0px;}
.col-1,.col-2,.col-3,.col-4,.col-5,.col-6,.col-7,.col-8,.col-9,.col-10,.col-11,.col-12{float:left;}
.col-1{width:8.333333333333332% !important;}
.col-2{width:16.666666666666664% !important;}
.col-3{width:25% !important;}
.col-4{width:33.33333333333333% !important;}
.col-5{width:41.66666666666667% !important;}
.col-6{width:50% !important;}
.col-7{width:58.333333333333336% !important;}
.col-8{width:66.66666666666666% !important;}
.col-9{width:75% !important;}
.col-10{width:83.33333333333334% !important;}
.col-11{width:91.66666666666666% !important;}
.col-12{width:100% !important;}

.widget .handle {
  float: left;
}

span.label-sup {
  opacity: 0.8;
  margin-left: 20px;
  font-size: 0.9em;
}
